/* Default Light Mode */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
.dark body {
  background-color: black;
  color: white;
}