.bio-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-weight: 600;
    font-size: large;
    max-width: 40rem;
    width: auto;
    margin-top: 4rem;
}


.portrait-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
}