
button {
    background: transparent;
    border: none;
    outline: none;
    transition: background-color 0.4s ease;
    border-radius: 44px;
}

button:hover{
    /* background-color:rgb(119, 75, 10); */
    cursor: pointer;
}

button:focus {
    border: none;
}