.tech-stack-button {
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.301);
}


.tech-stack-button button {
    color: #6ddaf0;
    font-weight: 800;
}

.tech-stack-button:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.tech-stack-button:active {
    transform: scale(0.95);
}